<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>实时B站播放热度</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="title">
        <span class="time"></span>
        B站实时排行榜</div>
        <div id='left1' style="background: url('../static/css/2.jpg');background-size:100% 100%;"></div>
        <div id='left2'></div>
        <div id='right1'></div>
        <div id='right2'></div>
<!--<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>-->
<!--    <script src="{{ url_for('static',filename='js/index.js') }}"></script>-->
<!--    <script src="{{ url_for('static',filename='js/echarts.min.js') }}"></script>-->


    <script src="../static/js/jquery.js"></script>
<!--    <script src="../static/js/echarts.js"></script>-->
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/index.js"></script>
</body>
</html>